@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Replace with your desired background color */
}

.App {
  display: flex;
  height: 100%;
  background-color: #f0f0f0; /* Ensure the background color is consistent */
}

.sidebar {
  background-color: #1d4ed8; /* Ensure the sidebar color is applied immediately */
  width: 250px;
  height: 100%;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff; /* Main content background color */
  overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Add this to your Sidebar.css or a global CSS file */
.sidebar-placeholder {
  background-color: #f3f4f6; /* A light gray color to match your UI */
  height: 100vh; /* Full height of the viewport */
  width: 250px; /* Width of the sidebar */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc; /* Light color for the loading text */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
