@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* Customizing the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  width: 6px;
  /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4775f1; /* Background color of the scrollbar handle */
  border-radius: 8px;
  /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e66a1; /* Handle color when hovered */
}
::-webkit-scrollbar:horizontal {
  height: 4px; /* Height of the horizontal scrollbar */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Replace with your desired background color */
}

.App {
  display: flex;
  height: 100%;
  background-color: #f0f0f0; /* Ensure the background color is consistent */
}

.sidebar {
  background-color: #0066cc; /* Ensure the sidebar color is applied immediately */
  width: 250px;
  height: 100%;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff; /* Main content background color */
  overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* styles/globals.css */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0066cc;
  z-index: 9999;
}

/* Add this to your Sidebar.css or a global CSS file */
.sidebar-placeholder {
  background-color: #f3f4f6; /* A light gray color to match your UI */
  height: 100vh; /* Full height of the viewport */
  width: 250px; /* Width of the sidebar */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc; /* Light color for the loading text */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
